html,
*,
body {
    margin: 0;
}

body {
    background-color: #003CCA;
    font-family: 'VT323', monospace;
    color: white;
    width: 50%;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 6rem;
    padding: 3rem 0 1rem
}

h2 {
    font-size: 3rem;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    padding: 0.5rem;
}

button {
    color: white;
    background-color: #003CCA;
    border: 3px solid white;
    font-family: 'VT323', monospace;
    padding: 1rem 2rem;
    font-size: 2rem;
    cursor: pointer;
}

img {
    height: 150px;
    padding: 1rem;
    cursor: pointer;
    margin: 2rem 1rem;
}

button:hover,
img:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection {
    display: flex;
    justify-content: center;
}

.score {
    display: flex;
    justify-content: center;
}

.score div {
    margin: 0 1rem;
}

.win-text {
    margin-top: 30%;
    margin-bottom: 1rem;
}